[submodule "lib/sc-historical-data-queue-lib"]
	path = lib/sc-historical-data-queue-lib
	url = https://github.com/hms-networks/sc-flexy-historical-data-queue-lib.git
	branch = release/2.2
[submodule "lib/sc-config-file-lib"]
	path = lib/sc-config-file-lib
	url = https://github.com/hms-networks/sc-flexy-config-file-lib.git
	branch = release/1.0
[submodule "lib/sc-datapoint-lib"]
	path = lib/sc-datapoint-lib
	url = https://github.com/hms-networks/sc-flexy-datapoint-lib.git
	branch = release/1.1
[submodule "lib/sc-file-util-lib"]
	path = lib/sc-file-util-lib
	url = https://github.com/hms-networks/sc-flexy-file-util-lib.git
	branch = release/1.2
[submodule "lib/sc-json-lib"]
	path = lib/sc-json-lib
	url = https://github.com/hms-networks/sc-flexy-json-lib.git
	branch = release/1.1
[submodule "lib/sc-logger-lib"]
	path = lib/sc-logger-lib
	url = https://github.com/hms-networks/sc-flexy-logger-lib.git
	branch = release/1.2.1
[submodule "lib/sc-mqtt-lib"]
	path = lib/sc-mqtt-lib
	url = https://github.com/hms-networks/sc-flexy-mqtt-lib.git
	branch = release/1.2
[submodule "lib/sc-string-lib"]
	path = lib/sc-string-lib
	url = https://github.com/hms-networks/sc-flexy-string-lib.git
	branch = release/1.2
[submodule "lib/sc-tag-info-lib"]
	path = lib/sc-tag-info-lib
	url = https://github.com/hms-networks/sc-flexy-tag-info-lib.git
	branch = release/1.1
[submodule "lib/sc-system-lib"]
	path = lib/sc-system-lib
	url = https://github.com/hms-networks/sc-flexy-system-lib.git
	branch = release/1.0
